name: CI/CD
on:
  push:
    branches: ['main']
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo o código
        uses: actions/checkout@v6.0.2
      - name: Autenticação no Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build da imagem docker
        uses: docker/build-push-action@v6
        with:
          context: ./../src
          file: Dockerfile
          push: true
          tags: |
            rickebarros/aula-primeira-pipeline:v${{ github.run_number }}